.app {
  text-align: center;
  padding-top: 70px;
  display: flex;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

.navbar-hide {
  animation-name: hide-nav-bar;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.navbar-show {
  animation-name: show-nav-bar;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.slow-load {
  animation-name: slow-load;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  opacity: 0;
}

.slow-load > div {
  transition: ease 0.2s;
}

.slow-load:hover > div {
  transform: scale(1.03);
  transition: 0.2s ease-in;
}

.categories {
  transition: 0.3s;
}

.categories:hover {
  font-size: 23px;
  color: #6a93cb;
  transition: 0.3s;
}

.active > .navbar-links {
  color: #6a93cb;
}

.active > .navbar-links-icon {
  color: #6a93cb;
}

.navbar-link:hover > .navbar-links {
  color: #6a93cb;
}

.navbar-link:hover > .navbar-links-icon {
  color: #6a93cb;
}

.login-box {
  animation-name: login-pop-up;
  animation-duration: 0.7s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.filter {
  display: flex;
}

.filter p {
  color: white;
  font-size: larger;
  margin-left: 50px;
}

.filter button {
  margin-left: 50px;
}

.slider-div {
  margin: 0 auto;
}

@keyframes login-pop-up {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hide-nav-bar {
  to {
    transform: translateY(-60px);
  }
}

@keyframes show-nav-bar {
  from {
    transform: translateY(-60px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slow-load {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }

  50% {
    transform: translateX(50px);
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 650px) {
  @keyframes slow-load {
    from {
      transform: translateX(-200px);
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
