.app {
  text-align: center;
  padding-top: 70px;
  display: flex;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  padding-bottom: 30px;
}
